*{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
}

html,body{
   height:100%;
   width:100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: black;
    /* display: flex; */
}
.child{
    height: 150px;
    width: 150px;
    background-color: rgb(220, 9, 182);
    color: blue; 
    margin-top: 10px;
}