*{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
}

html,body{
   height:100%;
   width:100%;
   /* background-color: aqua; */
}

h1{
    background-image: url("img.jpg");
   background-size: cover; /* optional for good effect */
   /* color: transparent; */
   -webkit-text-fill-color: transparent;
   /* -webkit-background-clip: text; */
   background-clip: text;
}